{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <h3>Login</h3>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}