{% load static %}
<html>
    <head>
        <title>Story 10</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
        <style>
            .middle {
                margin:10vh auto;
                min-width: 300px;
                max-width: 460px;
            }
            .black {
                border: 3px solid black;
            }
            .line {
                border-radius: 15px;
                border: 1.5px solid black;
            }
            #id_username, #id_password, #id_password1, #id_password2 {
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <div class="card middle black">
            <div class="card-body">
                <h1 class="card-title">Story 10</h1>
                <hr class="line">
        
                {% block content %}
                {% endblock %}
            </div>
        </div>
        
    </body>
</html>