{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <p>Hi {{ user.username }}</p> 
        <p>first name: {{ user.first_name }}</p>
        <p>last name: {{ user.last_name }}</p>
        <p>email: {{ user.email }}</p>
        <a href="{% url 'logout' %}">(logout).</a>
    {% else %}
        <p>You are not logged in <a href="{% url 'login' %}">(login).</a></p>
        <p>don't have an account? register <a href="{% url 'signuppage' %}">here.</a></p>
    {% endif %}
{% endblock %}